<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.graczone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Graczone">
        <activity android:name=".EmailVerificationActivity"></activity>
        <activity android:name=".LOGIN.Select_Game" />
        <activity
            android:name=".joining_TDM"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LOGIN.Forgot_Password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".joining"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Wallet.withdraw"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Wallet.wallet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home"
            android:label="@string/title_activity_home"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Graczone.NoActionBar" />
        <activity
            android:name=".LOGIN.create_account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LOGIN.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANT_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="true" />
    </application>

</manifest>